body, html{
	margin: 0;
	height: 100%;
}
.aboutus-p-top{
	text-align: center;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 2rem;
    /*line-height: 3.2rem;*/
}

.aboutus-p-bottom{
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	padding-top: 20px;
	padding-bottom: 20px;
    /*line-height: 3.2rem;*/
}
.aboutus-h{
	font-size: 30px;
	font-family: 'Raleway', sans-serif;	
	background-color: #f99748;	
}

/*=====================================*/
/*           BACKGROUND   IMAGE        */
/*=====================================*/

.bgImage{
	background-image: url(../aboutus.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	min-height: 100%; 
}

.bgGreyPeople{
	background-color: #eeeeee;
	width: 100%;
}

.container-people{
	padding: 40px 40px 40px 40px;
}

.designationName{
	margin-top: 40px;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;	
	background-color: #f99748;	
}

.founderImg{
	max-width: 300px;
	border:2px solid #f99748;
	border-radius: 25px;
}

.boardMemberImg{
	max-width: 180px;
	border:2px solid #f99748;
	border-radius: 100px;
}
